html {
  padding: 0;
  width: 100%;
  margin: 0;
}

body {
  padding: 0;
  width: 100%;
  margin: 0;
}

.pace-running .content {
  opacity: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

#sidebar {
  width: 500px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999999;
  background: #337799;
  color: #fff;
  transition: all 0.3s;
  padding: 20px;
}
.leaflet-control-layers-list {background-color: #66AACC;}
.ac-container input.menu:checked + label {     
  background: #5599AA !important;
  color: #115577 !important;
  text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);}
.leaflet-control-layers-toggle { background: #66AACC; }
.leaflet-control { background: #66AACC; }
.legend { background: #66AACC !important; }

.leaflet-popup-content { 
  width:auto !important; 
}

#sidebar.active {
  margin-left: -500px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebarCollapse {
  position: fixed;
  top: 1%;
  left: 2.5%;
  z-index: 999;
  background-color: #115577a4;
  font-weight: bold;
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #115577;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #115577;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #ffffff;
    font-weight: bold;
    background: rgba(255, 251, 0, 0.336);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #66AACC;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #5599AA;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: -500px;
  }
}

.legend {
  line-height: 18px;
  color: black;
  width: 138px;
  height: 138px;
  box-sizing: border-box !important;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px !important;
  background-color: #fff !important;
  overflow-y: auto;
}
.legend h6 {
  text-align: center !important;
  margin-top: 7px !important;
  margin-bottom: 14px !important;
}
.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75) !important;
}
.legend p {
  font-size: 12px;
  font-weight: bold;
}
.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.leaflet-popup-content img {
  max-width: 100%;
}
leaflet-marker-icon {
  height: auto !important;
}
.jumbotron {
  background-color: white;
}

#map input {
  margin: 3px;
  font-family: auto !important;
  font-size: unset !important;
  line-height: unset !important;
  box-sizing: unset !important;
}

#map .leaflet-control-container div, section, form, article {
  box-sizing: unset !important;
}